h1 {
  color: black;
  text-align: center;
  border: 0.2cm solid rgb(71, 112, 245);
  border-radius: 10%;
  background-color: lightblue;
}

body {
  background-color: grey;
}

div {
    width: 100%;
    height: 100%;
    background-color: white
}

image {